<h1><a href="/seller"> Go back <<</a></h1>
<br>
<br>
<form action="" method="POST" enctype="multipart/form-data">  {% csrf_token %}


name<input name="name" value="{{product.name}}"> <br>
price<input name="price" value="{{product.price}}"> <br>
category<input name="category" value="{{product.category}}"> <br>
status<input name="status" value="{{product.status}}"> <br>
description<input name="description" value="{{product.descritpion}}"> <br>

    <button type="submit">Update </button>



</form>